<h2>Welcome to EventEasePOE App</h2>

<p>@Html.ActionLink("View Venues", "Index", "Venue", null, new { @class = "btn btn-info" })</p>
<p>@Html.ActionLink("View Events", "Index", "Event", null, new { @class = "btn btn-info" })</p>
<p>@Html.ActionLink("View Bookings", "Index", "Booking", null, new { @class = "btn btn-info" })</p>